.back {
    background-image: url("/img/back.png");
    background-size: 100% 100%;
    height: 70px !important;
    width: 70px !important;
    position: fixed;
    top: 5%;
    left: 3%;
    z-index: 9999;
}
