.announce {
    width: 100% !important;
    text-align: center;
    position: fixed;
    top: 6%;
    font-size: 67px;
    line-height: 60px;
    color: #d03164;
    -webkit-text-stroke: 0.05em #fff;
    letter-spacing: -0.05em;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
