.hint {
    width: 100px !important;
    height: 120px !important;
    background: url("/img/hand.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - 50px);
    bottom: 0;
    opacity: 0;
    transition: 300ms all;
}

.hintShown {
    opacity: 1;
}
