.videoHolder {
    height: 70% !important;
    width: 94%;
    left: 3%;
    position: relative;
    bottom: -50%;
    bottom: 13%;
}

.button {
    position: fixed;
    bottom: 0;
    left: 0;
}

.videoHolder div,
.videoHolder div video {
    transform: translateZ(0);
}
/* Might wanna consider recoding the following after scss */
/* Video Grid with 2 videos */
.videoHolder2 div {
    width: calc(94% / 2 - 20px);
}

.videoHolder2 div:nth-child(1) {
    left: calc(94% / 2 * 0 + 3%);
}

.videoHolder2 div:nth-child(2) {
    left: calc(94% / 2 * 1 + 3%);
}
/* Video Grid with 3 videos */
.videoHolder3 div {
    width: calc(94% / 3 - 30px);
}

.videoHolder3 div video {
    bottom: -100%;
}

.videoHolder3 div:nth-child(1) {
    left: calc(94% / 3 * 0 + 3%);
}

.videoHolder3 div:nth-child(2) {
    left: calc(94% / 3 * 1 + 3%);
}

.videoHolder3 div:nth-child(3) {
    left: calc(94% / 3 * 2 + 3%);
}
/* Video Grid with 4 videos */
.videoHolder4 div {
    width: calc(94% / 4 - 20px);
}

.videoHolder4 div video {
    bottom: -100%;
}

.videoHolder4 div:nth-child(1) {
    left: calc(94% / 4 * 0 + 3%);
}

.videoHolder4 div:nth-child(2) {
    left: calc(94% / 4 * 1 + 3%);
}

.videoHolder4 div:nth-child(3) {
    left: calc(94% / 4 * 2 + 3%);
}

.videoHolder4 div:nth-child(4) {
    left: calc(94% / 4 * 3 + 3%);
}

.videoHolderShow.videoHolder3 div video {
    bottom: 12%;
}

.videoHolderShow.videoHolder4 div video {
    bottom: 21%;
}
