.play {
    background-image: url("/img/play.png");
    background-size: 100% 100%;
    height: 180px !important;
    width: 180px !important;
    position: fixed;
    top: calc(60% - 90px);
    left: calc(50% - 90px);
}
@media screen and (max-height: 400px) {
    /* Phone */
    .play {
        height: 140px !important;
        width: 140px !important;
        top: calc(60% - 70px);
        left: calc(50% - 70px);
    }
}
